.banner {
    text-align: center;
    margin-top: -2%;
}

#base {
    width:100%;
    border: 0px;
}

.index-top-wrapper {
    /* background-color:#cc1d1d; */
    /* background-color:rgb(52, 62, 202); */
    background-image: linear-gradient(0deg, white, rgb(52, 62, 202));
    /* background-image: linear-gradient(0deg,white, #cc1d1d); */

    width:100%;
    height:400px;
    border:0px;
    padding:0px;
    margin:0px;
    left:0px;
    position: absolute;
}

img {
    padding-top: 5em;
}

.index-bottom-wrapper {
    width:100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nav-link-right {
    text-align: center;
    padding-top:150px;
}

.nav-link-left {
    text-align: right;
    padding-top:150px;
}

.chart-wrapper {
    justify-content: center;
}

.link {
    color: black;
    text-decoration: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.live-wrapper {
    padding: 10%;
}

.place-form {
    margin: auto;
}

#place-card {    
    border: solid grey 1px;
    border-radius: 25px;
    padding: 20%;
    justify-content: center;
    margin: auto;
}
