{% extends "base.html" %}

{% block content %}
<div class="index-top-wrapper">
    <div class="row">
        <div class="banner" style='margin-left:19%; margin-top:1%;'>
            <img src="../static/war-room-logo-name.png" alt='logo' style='height:325px;' >
        </div>
        <div class="nav-link-right" style='margin-top:-2%; margin-left:33%;'>
            <a href="/rooms" class="link">Rooms</a>
            <br><br>
            <a href="/how-to" class="link">How to Use</a>
            <br><br>
            <a href="/login" class="link" >Login</a>
            <br><br>
            <a href="/Sign up" class="link">Sign up</a>
        </div>
        <!-- <div class="col-sm-4 nav-link-right">
            
        </div> -->
    </div>  
</div>
<br>
<div class='row index-bottom-wrapper' style='margin-top:50%;'>
    <div class='col-sm-6' style='margin-top:5%; margin-left:-6%; padding-right:3%; padding-bottom:-2px;'>
        <p>
            War Room was built to give the internet X and Y coordinates.  
            <br><br>
            You don't need to be a programmer to scrape data from anywhere on the web and generate live
            charts in seconds.  
        </p>
        <br>
        <a class='btn btn-block btn-outline-primary' href="/room/new">Create a room</a>
        <small>(or go to <a href='/how-to'>how to use</a>)</small>
    </div>
    <div class='col-sm-6'>
        <img src="../static/smart-city.png" style="height:500px; width:700px; margin-top:-35%; margin-left:15%; padding-bottom:-2px;" alt='front-image'>
    </div>
</div>

{% endblock %}