{% extends "base.html" %}

{% block content %}
<div class='row' style='padding-top:10px'>
    <a href='/' class='btn btn-danger'>Home</a>

    <div class='col-sm-12' style='text-align:center;'>
        <h1>{{ room.title }}</h1> 
        <a class='btn btn-warning' href='/target/ws/{{room._id}}'>FUCK IT WE'LL DO IT LIVE</a>
    </div>
</div>

<hr>

<div class='row'>
    {% for place in data %}
        {% with place = place %}
            <div class='col-sm-6 place-wrapper'>
                {% include "place.html" %}
            </div>
        {% endwith %}
    {% endfor %}
</div>
<hr>
<div class='row'>
    <div class='place-form col-sm-5'>
        
        <img src='{{url_for('static', filename='finder-icon.png')}}' style='padding-top:3px; padding-left:0px; margin-top: 0px; margin-left: -10px; border: 0; height:80px; width:80px;'>

        <form method='POST' action='/place'>
            <input type='hidden' value='{{ room._id }}' name='room_id'>
            {% include "place-form.html" %}
        
                <!-- BUTTON -->
            <div class='form-group col-sm-7'>
                <button class='btn btn-primary btn-block' type='submit'>Add a new target</button>
            </div> 
        </form>
    </div>

    <div class='col-sm-1'>
        <div id='vertical-divider'></div>
    </div>
    

    <div class='col-sm-5'>
        <img src='{{ url_for('static', filename='settings-icon.png') }}' style='height:60px; width:60px; margin-top:15px; margin-left:0px; padding: 0px 0px 4px;'>
        <form method='POST' action='/edit-room'>
            <div class='form-group'>
                <label for='title'>Change Room Title</label>
                <input class='form-control' name='title' type='text' value='{{ room.title }}'> 
            </div>
        </form>
        <form method='POST' action='/delete-room'>
            <input type='hidden' value='{{ room._id }}'>
            <div class='form-group'>
                <button class='btn btn-block btn-danger'>Delete Room</button>
            </div>
        </form>
    </div>
   
</div>


    
{% endblock %}